\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage{hyperref}
\usepackage[margin=1in]{geometry}

\title{ {{ title }} }
\date{ {{ date }} }

\begin{document}
\maketitle

{{ body }}

\bibliographystyle{plain}
\bibliography{references}

\end{document}
