\documentclass{article}
\usepackage[utf8]{inputenc}
\usepackage{hyperref}
\usepackage[margin=1in]{geometry}
\usepackage{natbib}

\title{ {{- title -}} }
\date{ {{- date -}} }

\begin{document}
\maketitle

{{ body }}

\bibliographystyle{plainnat}
\bibliography{references}

\end{document}
